body {
    background-image: url('assets/body_background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

.register-box {
    display: flex;
    width: 800px;
    height: 435px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 70px;
    background-image: url('assets/log_in_page\ element-02.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 39px rgba(0, 0, 0, .2);
}

.register-box .left-box {
    flex: 0 0 50%;
}

.register-box .left-box {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
}

.left-box h1,
h3 {
    font-weight: 600;
}

.left-box h1 {
    color: #5696E1;
}

.left-box h3 {
    color: #BCD9FF;
}

.right-box {
    width: 100%;
}

.right-box .calender {
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    background-image: url('assets/xxx.png');
}

.navigation-menu {
    list-style: none;
    display: flex;
}

.navigation-menu li a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 700;
    color: #5696E1;
    padding: 0 10px;
}

.navigation-menu li {
    flex: 0 0 33%;
}

.navigation-menu li a:hover {
    text-decoration: underline;
}

.form-wrapper {
    padding: 50px 30px 0 30px;
}

.form-wrapper .input-wrapper {
    position: relative;
    margin-bottom: 20px;
}

.form-wrapper .input-wrapper input {
    font-size: 0.95rem;
    font-weight: 600;
    width: 100%;
    padding: 10px 10px 10px 40px;
    background: #EAF4FF;
    border: none;
    outline: none;
}

.form-wrapper .input-wrapper img {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 4px;
    left: 5px;
    z-index: 1;
}

.wrap-name {
    display: flex;
    justify-content: space-between;
}

.wrap-name .input-wrapper {
    flex: 0 0 48%;
}
::placeholder {
    color: white;
  }

.form-wrapper .remember-me {
    width: 100%;
    text-align: center;
}

.form-wrapper .remember-me span {
    font-size: 0.9rem;
    font-weight: 600;
    color: #98C5FA;
}

.btn-wrapper {
    text-align: center;
    width: 100%;
}

.btn-wrapper button {
    padding: 5px 20px;
    font-size: 1.1rem;
    font-weight: 700;
    margin-top: 20px;
    color: #fff;
    background: #5696E1;
    border: 1px solid #5696E1;
    transition: 0.3s all ease-in-out;
}

.btn-wrapper button:hover {
    color: #5696E1;
    border: 1px solid #5696E1;
    background: #fff;
}

.text-bottom {
    width: 100%;
    font-size: 0.8rem;
    text-align: center;
    font-weight: 600;
    color: #98C5FA;
    margin-top: 50px;
}

.text-bottom p a {
    color: #5696E1;
}
.text-bottom p a:hover {
    color: #5696E1;
    text-decoration: underline;
}